<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clowyer-Inicio</title>
    <link rel="stylesheet" href="/js-css/icons/foundation-icons.css">
    <link rel="shortcut icon" href="/js-css/img/browser.ico"/>
    <link rel="stylesheet" href="/js-css/css/foundation-flex.css">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">
    <link rel="stylesheet" href="/js-css/css/css-created/app.css">
  </head>
  <body>
    <section id="login-container">
      <div class="row align-center">
        <div class="column small-12 medium-4 text-center"> 
             <img src="js-css/img/login.png" height="300" width="300"/>
            <h5>CLOWYER</h3>
            <div class="column-12 align-center">
              <a href="/login">
                <button class="button">Ingresar</button>
              </a>
            </div>
            <div class="column-12 align-center">
              <a href="/register" >
                <button class="button">Registrarse</button>
              </a>
            </div>
            <div class="column-12 align-center">
                <label>Todos los derechos reservados.</label>
            </div>
       </div>         
      </div>
    </section>
    <script src="js-css/js/vendor/jquery.js"></script>
    <script src="js-css/js/vendor/what-input.js"></script>
    <script src="js-css/js/vendor/foundation.js"></script>
    <script src="js-css/js/app.js"></script>
  </body>
</html>