<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clowyer-Registrar</title>
    <link rel="stylesheet" href="/js-css/icons/foundation-icons.css">
    <link rel="shortcut icon" href="/js-css/img/browser.ico"/>
    <link rel="stylesheet" href="/js-css/css/foundation-flex.css">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">
    <link rel="stylesheet" href="/js-css/css/css-created/app.css">
  </head>
  <body>
    
    <section id="login-container">
      <div class="row align-center">
        <div class="column small-12 medium-6 text-center">
          <h1>CLOWYER</h1>
          <form name="upload-form" action="/lawyer-web" method="post" enctype="multipart/form-data">
             <div class="row">
                <div class="small-12 columns">
                  <label>Cedula</label>
                    <input type="number" name="identification"  placeholder="Cedula" required/>
                </div>
                <div class="small-12 columns">
                  <label>Nombre</label>
                  <input type="text" name="name" placeholder="Nombre" required/>
                </div>
                <div class="small-12 columns">
                  <label>Especialidad</label>
                  <input type="text" name="speciality" placeholder="Especialidad" required/>
                </div>
                <div class="small-12 columns">
                  <label>Telefono</label>
                    <input type="text" name="phone" placeholder="Telefono" required/>
                </div>
                <div class="small-12 columns">
                  <label>E-mail</label>
                    <input type="email" name="email" placeholder="Email" required/>
                </div>
                <div class="small-12 columns password-wrapper">
                    <label>Contraseña</label>
                    <input type="password" name="password" class="password" placeholder="Contraseña" required>
                    <button class="unmask" type="button" title="Mask/Unmask password to check content">Unmask</button>
                </div>
              </div>
              <!--<div class="small-12 columns">
                <label>Imagen (Opcional)</label>
                  <input type="file" name="img" id="img"  accept="image/*">
              </div> -->
              <div class="column-12 align-center">
                  <button class="button">Registrar</button>
              </div>
          </form>
          <div class="column-12 align-center">
                <a href="/">
                   <button class="button">Atras</button>
                </a>
          </div>
        </div>
      </div>
    </section>
    <script src="js-css/js/vendor/jquery.js"></script>
    <script src="js-css/js/vendor/what-input.js"></script>
    <script src="js-css/js/vendor/foundation.js"></script>
    <script src="js-css/js/app.js"></script>
  </body>
</html>
